.loader {
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 7em;
  height: 7em;
}

.earth {
  width: 60%;
  height: 60%;
  background: url("../../../../public/world-map.png");
  border-radius: 100%;
  background-size: 8em;
  background-size: calc(100% * 1.5);
  animation: earthAnim 25s infinite linear;
  margin: 0 auto;
  border: 0px solid #CDD1D3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes earthAnim {
  0% {background-position-x: 0;}
  100% {background-position-x: -600px;}
}