html {
  margin: 0;
  padding: 0;
  color: #3E4756;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  margin: 2em;
  margin-bottom: 4em;
  gap: 1em;
}

h1 {
  margin: 0;
  color: black;
}

h2 {
  margin: 0;
  font-size: 1em;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
  font-size: .8em;
}

.logo {
  width: 3em;
  height: 3em;
}

.waves>* {
  opacity: .6;
  position: fixed;
  bottom: 0;
}

.trip-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}

.card {
  width: 15em;
  height: 15em;
  border-radius: 20px;
  background: #ebebeb;
  box-shadow: 5px 5px 39px #b1b1b1,
    -5px -5px 39px #ffffff;
  padding: .8em;
}