html {
  margin: 0;
  padding: 0;
  color: #3E4756;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin: 2em;
}

h2 {
  margin: 0;
  font-size: 1em;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
  font-size: .8em;
}

.trip-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}

.shadow {
  box-shadow: 2px 2px 12px #00000031,
    -2px -2px 12px #00000005;
}

.card {
  border-radius: 20px;
  background: #ffffff;
  padding: .8em;
  cursor: pointer;
}

.flex {
  display:flex
}