.new-trip {
  margin-top: 4em;
}

.new-trip .button {
  display: flex;
  justify-content: end;
  align-items: end;
}

.new-trip .step-page {
   margin-left: 4em;
   width: 100%;
}

.stepper-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}