.stepper-item {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-bottom: 2em;
}

.stepper-item * {
  cursor: pointer;
}

.stepper-item p {
  font-size: 1em;
}

.stepper-item .icon * {
  color: #10A0FF;
  font-size: 2em;
}

.disabled .icon * {
  color: #c0c0c0
}

.disabled * {
  color: #c0c0c0;
  cursor: default;
}

.stepper-item .sublabel {
  font-size: .8em;
  color: #8b8b8b;
}

